@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
    margin: 0;
    height: 100%;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: var(--h-green);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#navbar {
    z-index: 1;
    top: 0;
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
    height: 125px;
    background-color: var(--h-green);
}

#navbar .link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

#navbar .link:hover {
    background-color: var(--h-sand);
    cursor: pointer;
}

#navbar .link span {
    color: var(--h-sand);
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    transition: color 0.5s;
}

#navbar .link:hover span {
    color: var(--h-green);
}

/* Ícone do menu hambúrguer */
.menu-icon {
    display: none;
    font-size: 30px;
    color: var(--h-sand);
    cursor: pointer;
    padding: 10px;
}

.capa {
    background-image: url("../assets/img/capa.webp");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.secao {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.secao h1 {
    font-size: 58px;
    font-weight: 900;
    margin-bottom: 20px;
}

.secao p {
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 20px;
}

.texto {
    flex: 3;
    padding: 50px;
    max-width: 60%;
}

.imagem {
    flex: 2;
    max-width: 40%;
}

.imagem img {
    width: 100%;
    height: auto;
    display: block;
}

#quem-somos {
    color: var(--h-sand);
}

#atividades {
    background-color: var(--h-pink);
    color: var(--h-yellow);
}

#um-de-nos {
    background-color: var(--h-orange);
    color: var(--h-light-sand);
}

#escalador {
    background-color: var(--h-dark-grey);
    color: var(--h-light-grey);
}

#contato {
    background-color: var(--h-sand);
    color: var(--h-green);
}

#contato li {
    font-size: 28px;
    font-weight: 500;
}


/* Versão responsiva */
@media (max-width: 768px) {
    #navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        height: auto;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: var(--h-green);
        display: none;
        transition: display 0.5s;
        -webkit-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 15px 3px rgba(0, 0, 0, 0.3);
    }

    #navbar.active {
        display: flex;
    }

    #navbar .link {
        width: 100%;
        padding: 15px;
        justify-content: flex-start;
        padding-left: 30px;
        text-align: center;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 10px;
        right: 15px;
        z-index: 2;
    }

    .capa {
        background-image: url("../assets/img/capa_mobile.webp");
        height: 200px;
    }

    .secao {
        flex-direction: column;
        text-align: left;
    }

    .secao h1 {
        font-size: 10vw;
    }

    .secao p {
        font-size: 5vw;
        text-align: justify;
    }

    .texto,
    .imagem {
        max-width: 100%;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    #contato .li {
        font-size: 1vw !important;
    }
}

/* Variáveis do Site */
:root {
    /* Cores Padrão */
    --h-green: #1c4600;
    --h-sand: #f2caac;
    --h-pink: #ef2f87;
    --h-yellow: #f2f250;
    --h-orange: #c84e26;
    --h-light-sand: #ffdbc4;
    --h-dark-grey: #393b3a;
    --h-light-grey: #dfddd0;
}