@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
    margin: 0;
    height: 100%;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background-color: var(--h-green);
    scroll-behavior: smooth;
}

.menu-fixo {
    z-index: 1;
    top: 0;
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
    height: 166px;
    background-color: var(--h-green);
}

.menu-fixo>.link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.menu-fixo>.link:hover {
    background-color: var(--h-sand);
    cursor: pointer;
}

.menu-fixo>.link span {
    color: var(--h-sand);
    text-decoration: none;
    font-weight: bolder;
    font-size: 28px;
    transition: color 0.5s;
}

.menu-fixo>.link:hover span {
    color: var(--h-green);
}

.capa {
    background-image: url("../assets/img/capa.webp");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.secao {
    padding: 20px;
    height: 100%;
}

.secao h1 {
    color: var(--h-sand);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.secao p {
    color: var(--h-sand);
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
}

#atividades {
    background-color: var(--h-pink);
}

#atividades h1 {
    color: var(--h-yellow);
}

#atividades p {
    color: var(--h-yellow);
}

#um-de-nos {
    background-color: var(--h-orange);
}

#um-de-nos h1 {
    color: var(--h-light-sand);
}

#um-de-nos p {
    color: var(--h-light-sand);
}

#escalador {
    background-color: var(--h-dark-grey);
}

#escalador h1 {
    color: var(--h-light-grey);
}

#escalador p {
    color: var(--h-light-grey);
}

#contato {
    background-color: var(--h-green);
    height: 20%;
}

#contato h1 {
    color: var(--h-sand);
}

#contato p {
    color: var(--h-sand);
}



/* Variáveis do Site */
:root {
    /* Cores Padrão */
    --h-green: #1c4600;
    --h-sand: #f2caac;
    --h-pink: #ef2f87;
    --h-yellow: #f2f250;
    --h-orange: #c84e26;
    --h-light-sand: #ffdbc4;
    --h-dark-grey: #393b3a;
    --h-light-grey: #dfddd0;
}